body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: 100% 100vh;
    background-position: 0% 100%;

}

.cursor-heart {
    cursor: url("images/cur.png") 2 4, auto;
}

header {
    background-color: pink;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.banner {
    background-color: palevioletred;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heart:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dziewczyna, .poem, .gallery {
    flex-basis: 30%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dziewczyna {
    background-color: plum;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.przycisk {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.przycisk:hover {
    background-color: #555;
}

.kwiaty {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kwiaty:hover {
    transform: scale(1.1);
}

.prezent {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prezent:hover {
    transform: scale(1.1);
}

.serce {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.serce:hover {
    transform: scale(1.1);
}

.poem {
    background-color: plum;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    background-color: plum;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-container img:hover {
    transform: scale(1.1);
}